@import "../../scss/base";

:host {
    display: block;
    width: 100%;
    height: 100vh;
    font-family: $font-family;
}


.althingi-container-main {
    background-color: $color-gray-light;
    display: flex;
    flex-direction: row;
    height: 100%;
}

.althingi-container-main__nav {
    color: $color-white;
    background-color: $color-gray-dark;
}
.althingi-container-main__main {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.althingi-container-main__header {
    background-color: $color-white;
    padding: $gutter/2 $gutter;
}
.althingi-container-main__section {
    flex: 1;
    overflow: scroll;
}
