<link rel="import" href="../../vendor/polymer/polymer.html">

<dom-module id="althingi-container-main">
    <link rel="import" type="css" href="althingi-container-main.css">
    <template>
        <div class="althingi-container-main">
            <nav role="navigation" class="althingi-container-main__nav">
                <paper-item on-click="handleGetAssemblies">Thing</paper-item>
                <paper-item on-click="handleGetCongressmen">Thingmenn</paper-item>
                <paper-item>Stjornmalaflokkar</paper-item>
            </nav>
            <main role="main" class="althingi-container-main__main">
                <header class="althingi-container-main__header">
                    header
                </header>
                <section class="althingi-container-main__section">
                    <content></content>
                </section>
            </main>
        </div>
    </template>
    <script>
        Polymer({
            is: 'althingi-container-main',

            handleGetAssemblies: function () {
                this.fire('assemblies-get');
            },

            handleGetCongressmen: function () {
                this.fire('congressmen-get');
            }
        });
    </script>
</dom-module>
