<dom-module id="althingi-speech-list">
    <template>
        <althingi-pagination
                href="{{href}}"
                on-response="handleResponse"
                on-request="handleRequest"
                on-done="handleDone">
        </althingi-pagination>
        <althingi-preloader on-request-next="handleMore">
            <ul>
                <template is="dom-repeat" items="{{speeches}}">
                    <li>
                        <article>
                            <header>
                                <althingi-congressman-badge
                                        congressman="{{item.congressman.congressman_id}}"
                                        name="{{item.congressman.name}}">
                                </althingi-congressman-badge>
                                <span>{{item.type}}</span>
                            </header>
                            <aside>
                                <dl>
                                    <dt>Raedutimi:</dt>
                                    <dd><time>{{item.time}}</time></dd>
                                    <dt>Yfirferd:</dt>
                                    <dd>{{item.iteration}}</dd>
                                </dl>

                            </aside>
                            <div>{{item.text}}</div>
                            <footer></footer>
                        </article>
                    </li>
                </template>
            </ul>
        </althingi-preloader>
    </template>
    <script>
        Polymer({
            is: "althingi-speech-list",

            properties: {
                issue: {
                    type: Number,
                    reflectToAttribute: true
                },
                assembly: {
                    type: Number,
                    reflectToAttribute: true
                },
                href: {
                    type: String,
                    computed: 'computeUrl(issue, assembly)'
                },
                speeches: {
                    type: Array,
                    value: []
                }
            },

            computeUrl: function (issue, assembly) {
                return "/api/loggjafarthing/"+assembly+"/thingmal/"+issue+"/raedur"
            },

            handleResponse: function (event) {
                this.querySelector('althingi-preloader').setAttribute('state', 'halt');
                this.speeches = this.speeches.concat(event.detail);
            },

            handleRequest: function (event) {
                this.querySelector('althingi-preloader').setAttribute('state', 'load');
            },

            handleDone: function (event) {
                this.querySelector('althingi-preloader').setAttribute('state', 'done');
            },

            handleMore: function (event) {
                this.querySelector('althingi-pagination').load();
            }
        })
    </script>
</dom-module>
