<dom-module id="althingi-issue-list">
    <template>
        <althingi-pagination
                href="{{src}}"
                on-response="handleResponse"
                on-request="handleResquest"
                on-done="handleDone">
        </althingi-pagination>
        <althingi-preloader on-request-next="handleMore">
            <ul class="list list--simple">
                <template is="dom-repeat" items="{{issues}}">
                    <li class="list__item">
                        <althingi-issue-badge
                                issue="{{item.issue_id}}"
                                assembly="{{item.assembly_id}}"
                                name="{{item.name}}"
                                status="{{item.status}}"
                                type="{{item.type_name}}"
                                >
                        </althingi-issue-badge>
                    </li>
                </template>
            </ul>
        </althingi-preloader>
    </template>
    <script>
        Polymer({
            is: 'althingi-issue-list',

            properties: {
                assembly: {
                    type: String,
                    reflectToAttribute: true
                },
                src: {
                    type: String,
                    computed: 'computeUrl(assembly)'
                },

                issues: {
                    type: Array,
                    value: []
                }
            },

            computeUrl: function (assembly) {
                return '/api/loggjafarthing/' + assembly + '/thingmal';
            },

            handleResquest: function (event) {
                this.querySelector('althingi-preloader').setAttribute('state', 'preload');
            },

            handleResponse: function (event) {
                this.querySelector('althingi-preloader').setAttribute('state', 'halt');
                this.issues = this.issues.concat(event.detail);
            },

            handleMore: function (event) {
                this.querySelector('althingi-pagination').load();
            },

            handleDone: function (event) {
                this.querySelector('althingi-preloader').setAttribute('state', 'done');
            }
        })
    </script>
</dom-module>

<dom-module id="althingi-issue-badge">
    <template>
        <article class="badge">
            <header class="badge__header">
                <h1 class="badge__title"><span>{{issue}}</span>. <span>{{name}}</span></h1>
            </header>
            <div class="badge__body">
                <span class="badge__label">{{type}}</span> |
                <span class="badge__label">{{status}}</span>
            </div>
            <div class="badge__body">
                <paper-icon-button icon="clear"  on-click="handleGetInfo"></paper-icon-button>
                <paper-icon-button icon="menu"  on-click="handleGetSpeeches"></paper-icon-button>
            </div>
            <footer class="badge__footer" style="display: none"></footer>
        </article>

    </template>
    <script>
        Polymer({
            is: 'althingi-issue-badge',

            properties: {
                from: {
                    type: String,
                    reflectToAttribute: true
                },
                status: {
                    type: String,
                    reflectToAttribute: true
                },
                type: {
                    type: String,
                    reflectToAttribute: true
                },
                issue: {
                    type: Number,
                    reflectToAttribute: true
                },
                assembly: {
                    type: Number,
                    reflectToAttribute: true
                },
                expanded: {
                    type: Boolean,
                    value: false
                },
                open: {
                    type: Boolean,
                    value: false
                }

            },

            handleGetInfo: function (event) {
                this.querySelector('.badge__footer').style.display = (this.open) ? 'none':'block';
                this.open = !this.open;
                if (!this.expanded) {
                    var issueInfoElement = document.createElement('althingi-issue-footer');
                    issueInfoElement.setAttribute('issue', this.issue);
                    issueInfoElement.setAttribute('assembly', this.assembly);
                    this.querySelector('footer').appendChild(issueInfoElement);
                }
                this.expanded = true;
            },

            handleGetSpeeches: function (event) {
                event.stopPropagation();
                this.fire('speeches-get', {assembly: this.assembly, issue: this.issue});
            }
        })
    </script>
</dom-module>

<dom-module id="althingi-issue-footer">
    <template>
        <iron-ajax
            auto
            on-response="handleResponse"
            handle-as="json"
            url="{{url}}">
        </iron-ajax>
        <article class="article-card">
            <header class="article-card__header">
                <h1 class="article-card__headline">{{data.type_name}}</h1>
                <h2 class="article-card__headline">{{data.type_subname}}</h2>

            </header>
            <aside class="article-card__aside">
                <dl>
                    <dt>Raedutimi</dt>
                    <dd><time>{{data.time}}</time></dd>
                    <dt>Stada</dt>
                    <dd>{{data.status}}</dd>
                </dl>
            </aside>
            <div class="article-card__body">
                <template is="dom-if" if="{{data.foreman}}">
                    Fluttingsmadur:
                    <althingi-congressman-badge name="{{data.foreman.name}}" congressman="{{data.foreman.congressman_id}}"></althingi-congressman-badge>
                </template>
            </div>
            <footer class="article-card__footer"></footer>
        </article>


    </template>
    <script>
        Polymer({
            is: 'althingi-issue-footer',

            properties: {
                issue: {
                    type: Number,
                    reflectToAttribute: true
                },
                assembly: {
                    type: Number,
                    reflectToAttribute: true
                },
                url: {
                    type: String,
                    computed: 'computeUrl(issue, assembly)'
                },
                data: {
                    type: Object,
                    value: function () {
                        return {};
                    }
                }
            },

            handleResponse: function (event) {
                this.data = event.detail.response;
            },

            computeUrl: function (issue, assembly) {
                return '/api/loggjafarthing/'+assembly+'/thingmal/'+issue;
            }

        });
    </script>
</dom-module>
