<!--
    ALTHINGI-CONGRESSMAN-LIST
    Paginated list of congressmen in alphabetic order.
    This element will XHR request this list.

    Self-contained, has no API or events.
-->
<dom-module is="althingi-congressman-list">
    <template>
        <althingi-pagination
                href="/api/thingmenn"
                on-response="handleResponse"
                on-request="handleRequest"
                on-done="handleDone">
        </althingi-pagination>
        <althingi-preloader on-request-next="handleMore">
            <ul>
                <template is="dom-repeat" items="{{congressmen}}">
                    <li>{{item.name}}</li>
                </template>
            </ul>
        </althingi-preloader>
    </template>
    <script>
        Polymer({

            is: 'althingi-congressman-list',

            properties: {
                url: {
                    type: String
                },

                congressmen: {
                    type: Array,
                    value: []
                }
            },

            handleResponse: function (event) {
                this.querySelector('althingi-preloader').setAttribute('state', 'halt');
                this.congressmen = this.congressmen.concat(event.detail);
            },

            handleRequest: function (event) {
                this.querySelector('althingi-preloader').setAttribute('state', 'load');
            },

            handleDone: function (event) {
                this.querySelector('althingi-preloader').setAttribute('state', 'done');
            },

            handleMore: function (event) {
                this.querySelector('althingi-pagination').load();
            }
        });
    </script>
</dom-module>

<!--
    ALTHINGI-CONGRESSMAN-BADGE
    Will request an image from althingi.is
    but will not fetch any data via XHR.

    @attribute name String Name of congressman
    @attribute congressman Number ID of congressman
-->
<dom-module is="althingi-congressman-badge">
    <template>
        <iron-image style="width:60px; height:60px; background-color: lightgray;"
                    sizing="cover" preload src="{{image}}" on-click="clickCongressmanGet"></iron-image>
        <h1>{{name}}</h1>
    </template>
    <script>
        Polymer({

            is: 'althingi-congressman-badge',

            properties: {
                name: {
                    type: String,
                    reflectToAttribute: true
                },
                congressman: {
                    type: Number,
                    reflectToAttribute: true
                },
                image: {
                    type: String,
                    computed: 'computeUrl(congressman)'
                }
            },

            clickCongressmanGet: function () {
                this.fire('congressman-get', {congressman: this.congressman});
            },

            computeUrl: function (congressman) {
                return 'http://www.althingi.is/myndir/thingmenn-cache/'+congressman+'/'+congressman+'-220.jpg';
            }

        });
    </script>
</dom-module>

<!--
    ALTHINGI-CONGRESSMAN-PROFILE
    This element, provided with an ID, will fetch
    all kinds of information on congressman. It will
    make all kinds of XHR requests.

    @attribute congressman Number ID of congressman
-->
<dom-module is="althingi-congressman-profile">
    <template>
        <iron-ajax
                url="{{url}}"
                on-response="handleResponse"
                handle-as="json">
        </iron-ajax>
        <article>
            <header>
                <iron-image src="{{image}}"
                            style="width:100%; height: 400px; background-color: lightgray;"
                            preload fade
                            sizing="cover">
                </iron-image>
                <h1>{{data.name}}</h1>
                <time>{{data.birth}}</time>
            </header>
            <aside>
                <h3>Thing:</h3>
                <template is="dom-repeat" items="{{data.assemblies}}">
                    <span>{{item.assembly_id}}</span>
                </template>

                <h3>Flokkar:</h3>
                <template is="dom-repeat" items="{{data.parties}}">
                    <althingi-party-badge
                            name="{{item.name}}">
                    </althingi-party-badge>
                </template>
                <althingi-congressman-sessions congressman="{{congressman}}"></althingi-congressman-sessions>
                <althingi-congressman-issues congressman="{{congressman}}"></althingi-congressman-issues>
            </aside>
            <div></div>
            <footer></footer>
        </article>
    </template>
    <script>
        Polymer({

            is: 'althingi-congressman-profile',

            properties: {
                congressman: {
                    type: Number,
                    observer: 'changeProfile'
                },

                url: {
                    type: String
                },

                data: {
                    type: Object
                },

                image: {
                    type: String
                }
            },

            changeProfile: function (newValue, oldValue) {
                this.url = '/api/thingmenn/' + newValue;
                this.image = "http://althingi.is/myndir/mynd/thingmenn/"+newValue+"/org/mynd.jpg";
                this.querySelector('iron-ajax').generateRequest();
            },

            handleResponse: function (event) {
                this.data = event.detail.response;
            }
        })
    </script>


</dom-module>

<!--
    ALTHINGI-CONGRESSMAN-SESSION
    Used within `althingi-congressman-profile` but can
    be used as a stand-alone element.

    Will fetch all sessions of a congressman.

    Will XHR data.

    @attribute congressman Number ID of congressman
-->
<dom-module is="althingi-congressman-sessions">
    <template>
        <iron-ajax
                url="{{url}}"
                on-response="handleResponse"
                handle-as="json">
        </iron-ajax>
        <h1>Thingseta:</h1>
        <ul>
            <template is="dom-repeat" items="{{data}}">
                <li>
                    <time>{{item.from}}</time> -
                    <time>{{item.to}}</time> |
                    <span>{{item.party.name}}</span>
                </li>
            </template>
        </ul>
    </template>
    <script>
        Polymer({

            is: 'althingi-congressman-sessions',

            properties: {
                url: {
                    type: String
                },

                congressman: {
                    type: Number,
                    observer: 'changeSession'
                },

                data: {
                    type: Array,
                    value: []
                }
            },

            changeSession: function (newValue, oldValue) {
                this.url = '/api/thingmenn/' + newValue +'/thingseta';
                this.querySelector('iron-ajax').generateRequest();
            },

            handleResponse: function (event) {
                this.data = event.detail.response
            }
        })
    </script>
</dom-module>

<!--
    ALTHINGI-CONGRESSMAN-ISSUES
    Used within `althingi-congressman-profile` but can
    be used as a stand-alone element.

    Fetches issues that congressman is foreman for.

    Will XHR data.

    @attribute congressman Number ID of congressman
-->
<dom-module is="althingi-congressman-issues">
    <template>
        <iron-ajax
                url="{{url}}"
                on-response="handleResponse"
                handle-as="json">
        </iron-ajax>
        <h1>Fluttingsmadur:</h1>
        <ul>
            <template is="dom-repeat" items="{{issues}}">
            <li>
                <span>{{item.assembly_id}}</span> | <span>{{item.name}}</span> | <span>{{item.status}}</span>
            </li>
            </template>
        </ul>
    </template>
    <script>
        Polymer({

            is: 'althingi-congressman-issues',

            properties: {
                congressman: {
                    type: Number,
                    observer: 'changeIssues'
                },

                url: {
                    type: String
                },

                issues: {
                    type: Array,
                    value: []
                }
            },

            changeIssues: function (newValue, oldValue) {
                this.url = '/api/thingmenn/'+newValue+'/thingmal';
                this.querySelector('iron-ajax').generateRequest();
            },

            handleResponse: function (event) {
                this.issues = event.detail.response;
            }
        });
    </script>
</dom-module>
