<dom-module id="althingi-issue">
    <template>
        <althingi-pagination
                href="{{src}}"
                on-response="handleResponse"
                on-request="handleResquest"
                on-done="handleDone">
        </althingi-pagination>
        <ul class="list list--simple">
            <template is="dom-repeat" items="{{issues}}">
                <li class="list__item">
                    <althingi-issue-badge
                            id="{{item.issue_id}}"
                            assembly="{{item.assembly_id}}"
                            name="{{item.name}}"
                            status="{{item.status}}"
                            type="{{item.type_name}}"
                            >
                    </althingi-issue-badge>
                </li>
            </template>
        </ul>
        <paper-button on-click="handleMore">Meira</paper-button>
        <paper-spinner active></paper-spinner>

    </template>
    <script>
        Polymer({
            id: 'althingi-plenary',
            properties: {
                src: {
                    type: String,
                    reflectToAttribute: true
                },
                issues: {
                    type: Array,
                    value: []
                }
            },

            handleResquest: function (event) {
                this.querySelector('paper-spinner').setAttribute('active', 'active');
            },

            handleResponse: function (event) {
                this.querySelector('paper-spinner').removeAttribute('active');
                this.issues = this.issues.concat(event.detail);
            },

            handleMore: function (event) {
                this.querySelector('althingi-pagination').load();
            },

            handleDone: function (event) {
                var button = this.querySelector('paper-button');
                button.parentNode.removeChild(button);
            }
        })
    </script>
</dom-module>

<dom-module id="althingi-issue-badge">
    <template>
        <article class="badge">
            <header class="badge__header">
                <h1 class="badge__title"><span>{{id}}</span>. <span>{{name}}</span></h1>
            </header>
            <div class="badge__body">
                <span class="badge__label">{{type}}</span> |
                <span class="badge__label">{{status}}</span>
            </div>
            <div class="badge__body">
                <paper-icon-button icon="clear"  on-click="handleGetInfo"></paper-icon-button>
                <paper-icon-button icon="menu"  on-click="handleGetSpeeches"></paper-icon-button>
            </div>
            <footer class="badge__footer" style="display: none"></footer>
        </article>

    </template>
    <script>
        Polymer({
            id: 'althingi-plenary-item',

            properties: {
                from: {
                    type: String,
                    reflectToAttribute: true
                },
                status: {
                    type: String,
                    reflectToAttribute: true
                },
                type: {
                    type: String,
                    reflectToAttribute: true
                },
                id: {
                    type: Number,
                    reflectToAttribute: true
                },
                assembly: {
                    type: Number,
                    reflectToAttribute: true
                },
                expanded: {
                    type: Boolean,
                    value: false
                },
                open: {
                    type: Boolean,
                    value: false
                }

            },

            handleGetInfo: function () {
                this.querySelector('.badge__footer').style.display = (this.open) ? 'none':'block';
                this.open = !this.open;
                if (!this.expanded) {
                    var issueInfoElement = document.createElement('althingi-issue-footer');
                    issueInfoElement.setAttribute('id', this.id);
                    issueInfoElement.setAttribute('assembly', this.assembly);
                    this.querySelector('footer').appendChild(issueInfoElement);
                }
                this.expanded = true;
            },

            handleGetSpeeches: function (event) {
                this.fire('speeches-get', {assembly: this.assembly, issue: this.id});
            }
        })
    </script>
</dom-module>

<dom-module id="althingi-issue-footer">
    <template>
        <iron-ajax
            auto
            on-response="handleResponse"
            handle-as="json"
            url="{{url}}">
        </iron-ajax>
        <article class="article-card">
            <header class="article-card__header">
                <h1 class="article-card__headline">{{data.type_name}}</h1>
                <h2 class="article-card__headline">{{data.type_subname}}</h2>

            </header>
            <aside class="article-card__aside">
                <dl>
                    <dt>Raedutimi</dt>
                    <dd><time>{{data.time}}</time></dd>
                    <dt>Stada</dt>
                    <dd>{{data.status}}</dd>
                </dl>
            </aside>
            <div class="article-card__body">
                <template is="dom-if" if="{{data.foreman}}">
                    Fluttingsmadur:
                    <althingi-congressman-badge name="{{data.foreman.name}}" id="{{data.foreman.congressman_id}}"></althingi-congressman-badge>
                </template>
            </div>
            <footer class="article-card__footer"></footer>
        </article>


    </template>
    <script>
        Polymer({
            is: 'althingi-issue-footer',

            properties: {
                id: {
                    type: Number,
                    reflectToAttribute: true
                },
                assembly: {
                    type: Number,
                    reflectToAttribute: true
                },
                url: {
                    type: String,
                    computed: 'computeUrl(id, assembly)'
                },
                data: {
                    type: Object,
                    value: function () {
                        return {};
                    }
                }
            },

            handleResponse: function (event) {
                this.data = event.detail.response;
            },

            computeUrl: function (id, assembly) {
                return '/api/loggjafarthing/'+assembly+'/thingmal/'+id;
            }

        });
    </script>
</dom-module>
