<!--
    ALTHINGI-ASSEMBLY-LIST

    List of ALTHINGI-ASSEMBLY-BADGEes. Batches
    are loaded in via XHR calls
-->
<dom-module id="althingi-assembly-list">
    <template>
        <althingi-pagination
                href="/api/loggjafarthing"
                on-response="handleResponse"
                on-request="handleRequest"
                on-done="handleDone">
        </althingi-pagination>
        <ul class="list list--simple">
            <template is="dom-repeat" items="{{assemblies}}">
                <li class="list__item">
                    <althingi-assembly-badge
                            from="{{item.from}}"
                            to="{{item.to}}"
                            id="{{item.assembly_id}}">
                    </althingi-assembly-badge>
                </li>
            </template>
        </ul>
        <paper-button on-click="handleMore">Meira</paper-button>
        <paper-spinner active></paper-spinner>
    </template>
    <script>
        Polymer({
            is: "althingi-assembly-list",

            /**
             * This object's properties.
             *
             * @var Object
             */
            properties: {
                assemblies: {
                    type: Array,
                    value: []
                }
            },

            /**
             * Handles when PAGINATOR starts to fetch data.
             *
             * @param event CustomEvent
             */
            handleRequest: function (event) {
                this.querySelector('paper-spinner').setAttribute('active', 'active');
            },

            /**
             * Handles when PAGINATOR has some data for us.
             *
             * @param event CustomEvent
             */
            handleResponse: function (event) {
                this.querySelector('paper-spinner').removeAttribute('active');
                this.assemblies = this.assemblies.concat(event.detail);
            },

            /**
             * Handles when PAGINATOR is done getting all data.
             *
             * @param event CustomEvent
             */
            handleDone: function (event) {
                var button = this.querySelector('paper-button');
                button.parentNode.removeChild(button);
            },

            /**
             * Handles when user click on a button to get
             * more data from PAGINATOR.
             *
             * @param event MouseEvent
             */
            handleMore: function (event) {
                this.querySelector('althingi-pagination').load();
            }
        });
    </script>
</dom-module>

<!--

    ALTHINGI-ASSEMBLY-BADGE

    Item in a list of assemblies.
    This includes the number of assembly,
    the begin and end date.
-->
<dom-module id="althingi-assembly-badge">
    <template>
        <article class="badge">
            <header class="badge__header">
                <h1 class="badge__title">{{id}}</h1>
            </header>
            <div class="badge__body">
                <time class="badge__time">{{from}}</time> -
                <time class="badge__time">{{to}}</time>
            </div>
            <footer class="header-time__footer">
                <paper-button on-click="clickPlenariesGet" raised>Þingfundir</paper-button>
                <paper-button on-click="clickIssuesGet" raised>Þingmál</paper-button>
            </footer>
        </article>
    </template>

    <script>
        Polymer({
            is: "althingi-assembly-badge",

            /**
             * When user wants plenaries from a given
             * assembly in the list.
             *
             * @event plenaries-get
             * @param String URL
             */

            /**
             * When user wants issues from a give
             * assembly in the list.
             *
             * @event issues-get
             * @param String URL
             */

            /**
             * Properties for this object
             * @var Object
             */
            properties: {
                id: {
                    type: String,
                    reflectToAttribute: true
                },
                from: {
                    type: String,
                    reflectToAttribute: true
                },
                to: {
                    type: String,
                    reflectToAttribute: true
                }
            },

            /**
             * Handle click event for 'get plenaries' button.
             * Will file 'plenaries-get' event
             * @param MouseEvent event
             * @var Function
             */
            clickPlenariesGet: function (event) {
                this.fire('plenaries-get', '/api/loggjafarthing/' + this.id + '/thingfundir');
            },

            /**
             * Handle click event for 'get issues' button
             * Will fire 'issues-get' event
             * @param MouseEvent event
             * @var Function
             */
            clickIssuesGet: function (event) {
                this.fire('issues-get', '/api/loggjafarthing/' + this.id + '/thingmal');
            }
        });
    </script>
</dom-module>
