<dom-module id="althingi-pagination">
    <script>
        Polymer({
            is: "althingi-pagination",

            /**
             * Fired when a request is started.
             *
             * @event request
             */

            /**
             * Fired when a response is received.
             *
             * @event response
             */

            /**
             * Fired when all data has been fetched
             *
             * @event done
             */

            /**
             * This object's properties.
             *
             * @var Object
             */
            properties: {
                href: {
                    type: String,
                    observer: 'reload'
                },
                data: {
                    type: Object,
                    notify: true
                },
                from: {
                    type: Number,
                    value: function () {
                        return undefined;
                    }
                },
                to: {
                    type: Number,
                    value: function () {
                        return undefined;
                    }
                },
                size: {
                    type: Number,
                    value: function () {
                        return undefined;
                    }
                },
                chunk: {
                    type: Number,
                    value: function () {
                        return undefined;
                    }
                },
                done: {
                    type: Boolean,
                    value: false
                }
            },

            /**
             * Split Content-Range header string
             * and return a value object
             *
             * @param range String
             * @returns {{from: number, to: number, size: number, chunk: number}}
             */
            resolveRangeHeader: function (range) {
                var parts = /(items).([0-9]+)(-)([0-9]+)\/([0-9|\*]+)/.exec(range);
                return {
                    from: parseInt(parts[2]),
                    to: parseInt(parts[4]),
                    size: parseInt(parts[5]),
                    chunk: parseInt(parts[4]) - parseInt(parts[2])
                }
            },

            /**
             * XHR load data using the href attribute.
             *
             * HTTP Range-Unit header is parsed and if it's value is not
             * 'items', this method will stop.
             *
             * HTTP Content-Range header is parsed, it should look like this
             * 'items 0-29/103'
             *
             * @return void
             */
            load: function () {
                if (this.done) {
                    return;
                }
                var xhr = new XMLHttpRequest();
                xhr.open('get', this.href);
                if (this.from !== undefined) {
                    xhr.setRequestHeader(
                        'Range',
                        'items='+(this.to)+'-'+(this.to + this.chunk)
                    );
                }
                xhr.addEventListener('load', function (event) {
                    var unit = event.target.getResponseHeader('Range-Unit');
                    if (unit.toLowerCase() !== 'items') {
                        this.done = true;
                    }
                    var range = event.target.getResponseHeader('Content-Range');
                    var split = this.resolveRangeHeader(range);
                    this.from = split.from;
                    this.to = split.to;
                    this.size = split.size;
                    this.chunk = split.chunk;

                    this.data = JSON.parse(event.target.responseText);

                    this.fire('response', this.data);
                    if (this.to >= this.size) {
                        this.done = true;
                        this.fire('done', this.data);
                    }
                }.bind(this),false);
                this.fire('request');
                xhr.send();
            },

            reload: function (newValue, oldValue) {
                this.data = [];
                this.size = undefined;
                this.from = undefined;
                this.to = undefined;
                this.chunk = undefined;
                this.done = false;
                this.href = newValue;
                this.load();
            }
        });
    </script>
</dom-module>

<dom-module id="althingi-preloader">
    <style>
        .preload-container {
        }

        .preload-container--active {
            background-color: rgba(200,200,200,.5);
        }
    </style>
    <template>
        <div class="preload-container">
            <content></content>
            <paper-button id="more-button" on-click="requestMore">Meira</paper-button>
            <paper-spinner active></paper-spinner>
        </div>
    </template>
    <script>
        Polymer({
            is: 'althingi-preloader',

            properties: {
                state: {
                    type: String,
                    observer: '_stateChanged'
                }
            },

            _stateChanged: function () {
                switch (this.state) {
                    case 'load':
                        this.querySelector('paper-spinner').setAttribute('active', 'active');
                        this.querySelector('.preload-container').classList.add('preload-container--active');
                        break;
                    case 'halt':
                        this.querySelector('paper-spinner').removeAttribute('active');
                        this.querySelector('.preload-container').classList.remove('preload-container--active');
                        break;
                    case 'done':
                        this.querySelector('paper-spinner').removeAttribute('active');
                        this.querySelector('.preload-container').classList.remove('preload-container--active');
                        this.querySelector('#more-button').style.display = 'none';
                        break;
                }
            },

            requestMore: function () {
                this.fire('request-next');
            },

            reset: function () {
                this.state = 'halt';
                this.querySelector('#more-button').style.display = 'inline-block';
            }
        });
    </script>
</dom-module>
