<link rel="import" href="../../vendor/polymer/polymer.html" />
<link rel="import" href="../../vendor/iron-ajax/iron-ajax.html" />

<link rel="import" href="../althingi-issue/althingi-issue-badge.html" />

<!--
    ALTHINGI-CONGRESSMAN-ISSUES
    Used within `althingi-congressman-profile` but can
    be used as a stand-alone element.

    Fetches issues that congressman is foreman for.

    Will XHR data.

    @attribute congressman Number ID of congressman
-->
<dom-module is="althingi-congressman-issues">
    <template>
        <iron-ajax
                id="ironAjax"
                url="{{url}}"
                on-response="handleResponse"
                handle-as="json">
        </iron-ajax>
        <h1>Fluttingsmadur:</h1>
        <template is="dom-repeat" items="{{issues}}">
            <althingi-issue-badge status="{{item.status}}" type="{{item.type}}" issue="{{item.issue_id}}" assembly="{{item.assembly_id}}" name="{{item.name}}">
            </althingi-issue-badge>
        </template>
    </template>
    <script>
        Polymer({

            is: 'althingi-congressman-issues',

            properties: {
                congressman: {
                    type: Number,
                    observer: 'changeIssues'
                },

                url: {
                    type: String
                },

                issues: {
                    type: Array,
                    value: []
                }
            },

            changeIssues: function (newValue, oldValue) {
                this.url = '/api/thingmenn/'+newValue+'/thingmal';
                this.$.ironAjax.generateRequest();
            },

            handleResponse: function (event) {
                this.issues = event.detail.response;
            }
        });
    </script>
</dom-module>
