<link rel="import" href="../../vendor/polymer/polymer.html" />
<link rel="import" href="../../vendor/iron-ajax/iron-ajax.html" />

<!--
    ALTHINGI-CONGRESSMAN-SESSION
    Used within `althingi-congressman-profile` but can
    be used as a stand-alone element.

    Will fetch all sessions of a congressman.

    Will XHR data.

    @attribute congressman Number ID of congressman
-->
<dom-module is="althingi-congressman-sessions">
    <template>
        <iron-ajax
                url="{{url}}"
                on-response="handleResponse"
                handle-as="json">
        </iron-ajax>
        <h1>Thingseta:</h1>
        <ul>
            <template is="dom-repeat" items="{{data}}">
                <li>
                    <time>{{item.from}}</time> -
                    <time>{{item.to}}</time> |
                    <span>{{item.party.name}}</span>
                </li>
            </template>
        </ul>
    </template>
    <script>
        Polymer({

            is: 'althingi-congressman-sessions',

            properties: {
                url: {
                    type: String
                },

                congressman: {
                    type: Number,
                    observer: 'changeSession'
                },

                data: {
                    type: Array,
                    value: []
                }
            },

            changeSession: function (newValue, oldValue) {
                this.url = '/api/thingmenn/' + newValue +'/thingseta';
                this.querySelector('iron-ajax').generateRequest();
            },

            handleResponse: function (event) {
                this.data = event.detail.response
            }
        })
    </script>
</dom-module>
