<link rel="import" href="../../vendor/polymer/polymer.html" />
<link rel="import" href="../../vendor/iron-ajax/iron-ajax.html" />
<link rel="import" href="../../vendor/iron-image/iron-image.html" />
<link rel="import" href="../../vendor/neon-animation/neon-shared-element-animatable-behavior.html">
<link rel="import" href="../../vendor/neon-animation/animations/hero-animation.html">
<link rel="import" href="../../vendor/neon-animation/animations/fade-in-animation.html">
<link rel="import" href="../../vendor/neon-animation/animations/fade-out-animation.html">

<link rel="import" href="../althingi-party/althingi-party-badge.html" />
<link rel="import" href="../althingi-congressman/althingi-congressman-badge.html" />
<link rel="import" href="../althingi-congressman/althingi-congressman-issues.html" />


<!--
    ALTHINGI-CONGRESSMAN-PROFILE
    This element, provided with an ID, will fetch
    all kinds of information on congressman. It will
    make all kinds of XHR requests.

    @attribute congressman Number ID of congressman
-->
<dom-module is="althingi-congressman-profile">
    <template>
        <iron-ajax
                id="ironAjax"
                url="{{url}}"
                on-response="handleResponse"
                handle-as="json">
        </iron-ajax>
        <article>
            <header>
                <iron-image src="{{image}}"
                            style="width:100%; height: 400px; background-color: lightgray;"
                            id="heroImage"
                            preload fade
                            sizing="cover">
                </iron-image>
                <h1>{{data.name}}</h1>
                <time>{{data.birth}}</time>
            </header>
            <aside>
                <h3>Thing:</h3>
                <template is="dom-repeat" items="{{data.assemblies}}">
                    <span>{{item.assembly_id}}</span>
                </template>

                <h3>Flokkar:</h3>
                <template is="dom-repeat" items="{{data.parties}}">
                    <althingi-party-badge
                            name="{{item.name}}">
                    </althingi-party-badge>
                </template>
                <althingi-congressman-sessions congressman="{{congressman}}"></althingi-congressman-sessions>
                <althingi-congressman-issues congressman="{{congressman}}"></althingi-congressman-issues>
            </aside>
            <div></div>
            <footer></footer>
        </article>
    </template>
    <script>
        Polymer({

            is: 'althingi-congressman-profile',

            behaviors: [Polymer.NeonSharedElementAnimatableBehavior],

            properties: {
                congressman: {
                    type: Number,
                    observer: 'changeProfile'
                },

                url: {
                    type: String
                },

                data: {
                    type: Object
                },

                image: {
                    type: String
                },

                animationConfig: {
                    value: function() {
                        return {
                            'entry': [{
                                name: 'hero-animation',
                                id: 'hero',
                                toPage: this
                            },{
                                name: 'fade-in-animation',
                                node: this
                            }],
                            exit: {
                                name: 'fade-out-animation',
                                node: this
                            }
                        }
                    }
                },

                sharedElements: {
                    value: function () {
                        return {
                            'hero': this.$.heroImage
                        }
                    }
                }
            },

            changeProfile: function (newValue, oldValue) {
                this.url = '/api/thingmenn/' + newValue;
                this.image = "http://althingi.is/myndir/mynd/thingmenn/"+newValue+"/org/mynd.jpg";
                this.$.ironAjax.generateRequest();
            },

            handleResponse: function (event) {
                this.data = event.detail.response;
            }
        })
    </script>


</dom-module>
