<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="Bootstrap.php" colors="true">
    <testsuites>
        <testsuite name="Most">
            <directory>./</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory suffix=".php">../src/</directory>
            <exclude>
                <directory suffix=".phtml">../view/</directory>
            </exclude>
        </whitelist>
    </filter>

    <logging>
        <log type="coverage-html" target="../assets/docs/tests/report" charset="UTF-8"
             yui="true" highlight="true" lowUpperBound="50" highLowerBound="80"/>
    </logging>

    <listeners>
        <listener class="Althingi\DatabaseSetup" file="./DatabaseSetup.php" />
    </listeners>

    <php>
        <var name="APPLICATION_ENVIRONMENT" value="development" />
        <var name="MYSQL.BIN" value="/usr/local/mysql/bin/mysql" />
        <var name="MYSQLDUMP.BIN" value="/usr/local/mysql/bin/mysqldump" />
    </php>

</phpunit>
