<link rel="import" href="../../vendor/polymer/polymer.html" />
<link rel="import" href="../../vendor/paper-item/paper-item.html">

<dom-module id="althingi-plenary-badge">
    <template>
        <paper-item>
            <paper-item-body two-line>
                <div on-click="handleGetItem">{{name}}</div>
                <div secondary>
                    <time>{{from}}</time>
                    <time>{{to}}</time>
                </div>
            </paper-item-body>
            <iron-icon icon="warning"></iron-icon>
        </paper-item>
    </template>

    <script>
        Polymer({
            is: 'althingi-plenary-badge',

            properties: {
                from: {
                    type: String,
                    reflectToAttribute: true
                },
                to: {
                    type: String,
                    reflectToAttribute: true
                },
                name: {
                    type: String,
                    reflectToAttribute: true
                },
                assembly: {
                    type: Number,
                    reflectToAttribute: true
                }
            },

            handleGetItem: function () {
                //this.fire('', {assembly: this.assembly});
            }
        })
    </script>
</dom-module>
