<link rel="import" href="../../vendor/polymer/polymer.html" />

<link rel="import" href="../althingi-pagination/althingi-pagination.html" />
<link rel="import" href="../althingi-preloader/althingi-preloader.html" />
<link rel="import" href="../althingi-plenaries/althingi-plenary-badge.html" />

<dom-module id="althingi-plenaries-list">
    <template>
        <althingi-pagination
                id="althingiPagination"
                href="{{src}}"
                on-response="handleResponse"
                on-request="handleRequest"
                on-done="handleDone">
        </althingi-pagination>
        <althingi-preloader on-request-next="handleMore" id="althingiPreloader">
            <template is="dom-repeat" items="{{plenaries}}">
                <althingi-plenary-badge
                        assembly="{{item.assembly_id}}"
                        from="{{item.from}}"
                        to="{{item.to}}"
                        name="{{item.name}}">
                </althingi-plenary-badge>
            </template>
        </althingi-preloader>
    </template>
    <script>
        Polymer({
            id: 'althingi-plenaries-list',

            properties: {
                src: {
                    type: String,
                    computed: 'computeUrl(assembly)'
                },
                assembly: {
                    type: Number,
                    reflectToAttribute: true
                },

                plenaries: {
                    type: Array,
                    value: []
                }
            },

            computeUrl: function (assembly) {
                return '/api/loggjafarthing/' + assembly + '/thingfundir'
            },

            handleRequest: function (event) {
                this.$.althingiPreloader.setAttribute('state', 'load');
            },

            handleResponse: function () {
                this.$.althingiPreloader.setAttribute('state', 'halt');
                this.plenaries = this.plenaries.concat(event.detail);
            },

            handleMore: function (event) {
                this.$.althingiPagination.load();
            },

            handleDone: function (event) {
                this.$.althingiPreloader.setAttribute('state', 'done');
            }
        })
    </script>
</dom-module>
