
    $gutter:        30px;



    $font-family:   Futura, sans-serif;


    $color-gray-light:  rgb(240, 240, 240);
    $color-gray-dark:   rgb(50, 50, 50);
    $color-white:       rgb(255, 255, 255);
