
// - - - [ LIST ] - - - -
    .list {  }
    .list--grid {
        .list__item--forth {
            width: 25%;
        }
        .list__item {
            display: inline-block;
            vertical-align: top;
        }
    }
    .list--simple {
        .list__item {
            padding: $gutter 0;
        }
    }

// - - - [ BADGE ] - - - -
    .badge {
        .badge__header {

        }
        .badge__footer {
            //padding: $gutter/2;
            background-color: $color-gray-light;
            box-shadow: inset 0 0 4px 0 rgba(100,100,100,.3)
        }
        .badge__body {
            padding: $gutter/2 0;
        }
        .badge__title {
            font-size: $font-size-big;
        }
        .badge__label, .badge__time {
            color: $color-purple;
            font-size: $font-size-small;
        }
    }

// - - - [ ARTICLE-CARD ] - - - -
    .article-card {
        h1.article-card__headline {
            font-weight: $font-weight-bold;
        }
    }
    .article-card__header {}
    .article-card__aside {
        float: left;
        width: 50%;
    }
    .article-card__body {
        float: right;
        width: 50%;
    }
    .article-card__footer {
        clear: both;
    }

