
/* - - - - - [ SIZES ] - - - - - - - - - - - - - - - - - - - */
    $gutter:    30px;

/* - - - - - [ FONT ] - - - - - - - - - - - - - - - - - - - */
    $font-size-big:         20px;
    $font-size-base:        16px;
    $font-size-small:       14px;
    $font-weight-bold:      700;
    $font-weight-normal:    400;


/* - - - - - [ COLOR ] - - - - - - - - - - - - - - - - - - - */

    $color-purple:      rgb(45, 83, 130);
    $color-black:       rgb(50, 50, 50);
    $color-gray-light: rgb(240, 240, 240)


