
    althingi-assembly-list { display: block; }

    althingi-issue-footer {
        padding: $gutter;
        display: block
    } //FIXME

    neon-animated-pages {
        height: 100%;
    }

    iron-image {
        border-radius: 50%;
    }
