<link rel="import" href="../../vendor/polymer/polymer.html" />
<link rel="import" href="../../vendor/neon-animation/neon-animatable-behavior.html">
<link rel="import" href="../../vendor/neon-animation/animations/slide-left-animation.html">
<link rel="import" href="../../vendor/neon-animation/animations/slide-right-animation.html">
<link rel="import" href="../../vendor/neon-animation/animations/fade-in-animation.html">
<link rel="import" href="../../vendor/neon-animation/animations/fade-out-animation.html">

<link rel="import" href="../althingi-pagination/althingi-pagination.html" />
<link rel="import" href="../althingi-preloader/althingi-preloader.html" />
<link rel="import" href="../althingi-assembly/althingi-assembly-badge.html" />

<!--
    ALTHINGI-ASSEMBLY-LIST

    List of ALTHINGI-ASSEMBLY-BADGEes. Batches
    are loaded in via XHR calls
-->
<dom-module id="althingi-assembly-list">
    <link rel="import" type="css" href="althingi-assembly-list.css">
    <template>
        <althingi-pagination
                id="althingiPagination"
                href="/api/loggjafarthing"
                on-response="handleResponse"
                on-request="handleRequest"
                on-done="handleDone">
        </althingi-pagination>
        <althingi-preloader
                id="althingiPreloader"
                on-request-next="handleMore">
            <template is="dom-repeat" items="{{assemblies}}">
                <althingi-assembly-badge
                        from="{{item.from}}"
                        to="{{item.to}}"
                        assembly="{{item.assembly_id}}">
                </althingi-assembly-badge>
            </template>
        </althingi-preloader>
    </template>
    <script>
        Polymer({
            is: "althingi-assembly-list",

            behaviors: [Polymer.NeonAnimatableBehavior],

            /**
             * This object's properties.
             *
             * @var Object
             */
            properties: {
                assemblies: {
                    type: Array,
                    value: []
                },

                animationConfig: {
                    value: function () {
                        return {
                            entry: [{
                                name: 'slide-left-animation',
                                node: this
                            }, {
                                name: 'fade-in-animation',
                                node: this
                            }],
                            exit: [{
                                name: 'slide-right-animation',
                                node: this
                            }, {
                                name: 'fade-out-animation',
                                node: this
                            }]
                        }
                    }
                }
            },

            /**
             * Handles when PAGINATOR starts to fetch data.
             *
             * @param event CustomEvent
             */
            handleRequest: function (event) {
                (this.$.althingiPreloader||{setAttribute: function () {}}).setAttribute('state', 'load');
            },

            /**
             * Handles when PAGINATOR has some data for us.
             *
             * @param event CustomEvent
             */
            handleResponse: function (event) {
                this.$.althingiPreloader.setAttribute('state', 'halt');
                this.assemblies = this.assemblies.concat(event.detail);
            },

            /**
             * Handles when PAGINATOR is done getting all data.
             *
             * @param event CustomEvent
             */
            handleDone: function (event) {
                this.$.althingiPreloader.setAttribute('state', 'done');
            },

            /**
             * Handles when user click on a button to get
             * more data from PAGINATOR.
             *
             * @param event MouseEvent
             */
            handleMore: function (event) {
                this.$.althingiPagination.load();
            }
        });
    </script>
</dom-module>
