<link rel="import" href="../../vendor/polymer/polymer.html" />
<link rel="import" href="../../vendor/iron-ajax/iron-ajax.html" />
<link rel="import" href="../../vendor/paper-button/paper-button.html" />
<link rel="import" href="../../vendor/svg-piechart/svg-piechart.html" />

<link rel="import" href="../althingi-congressman/althingi-congressman-badge.html" />

<!--
    ALTHINGI-ASSEMBLY-PROFILE
-->
<dom-module id="althingi-assembly-profile">
    <link rel="import" type="css" href="althingi-assembly-profile.css">
    <template>
        <iron-ajax
                auto
                on-response="handleResponse"
                handle-as="json"
                url="{{url}}">
        </iron-ajax>

        <div class="assembly-profile">
            <div class="assembly-main">
                <h1>{{data.assembly_id}}</h1>
                <paper-button>Thingmal</paper-button>

                <p>Hlutfall mala sem eru ekki <em>Álit</em>, <em>Beiðni um skýrslu</em> eda <em>Fyrirspurn</em></p>
                <svg-piechart data="{{issues}}" size="100" colors="{{color}}"></svg-piechart>
                <dl>
                    <template is="dom-repeat" items="{{data.issues}}">
                        <dt>{{item.status}}</dt>
                        <dd>{{item.total}}</dd>
                    </template>
                </dl>

                <h2>Heildar raedutimi</h2> <time>{{data.time}}</time>
            </div>
            <div class="assembly-side">
                <h1>Thingmenn:</h1>
                <div class="althingi-congressman-badge-container">
                    <template is="dom-repeat" items="{{data.congressmen}}">
                        <althingi-congressman-badge
                                congressman="{{item.congressman_id}}"
                                name="{{item.name}}">
                        </althingi-congressman-badge>
                    </template>
                </div>
            </div>
        </div>





    </template>
    <script>
        Polymer({

            is: 'althingi-assembly-profile',

            properties: {
                assembly: {
                    type: Number,
                    observer: 'changeAssembly'
                },

                url: {
                    type: String
                },

                color: {
                    type: Array,
                    value: ['#aaaaaa', '#222222', '#999999', '#345345', '#123123', '#333333', '#777777']
                },

                data: {
                    type: Object,
                    value: function () {
                        return {};
                    }
                },

                issues: {
                    type: Array,
                    value: []
                }
            },

            observers: [
                'updateChart(data.issues)'
            ],

            changeAssembly: function (newValue, oldValue) {
                this.data = {};
                this.url = '/api/loggjafarthing/' + newValue;
            },

            handleResponse: function (event) {
                this.data = event.detail.response;
            },

            updateChart: function (issues) {
                if (issues !== undefined) {
                    this.issues = issues.map(function (item) {
                        return parseInt(item.total)
                    });
                }

            }
        })
    </script>
</dom-module>
