@import "../../scss/base";
//
:host {
    display: block;
}
//
//paper-card {
//    width: 100%;
//    margin: 30px 0;
//}

div[item-icon] {
    background-color: $color-gray-dark;
    color: $color-white;
    display: flex;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    align-items: center;
    vertical-align: middle;

    font-weight: bold;
}

.assembly-badge {
    display: flex;
}

.assembly-badge__icon {

}
.assembly-badge__content {
    flex-grow: 1;
}
.assembly-badge__buttons {

}
