@import "../../scss/base";

:host {
    padding: $gutter;
}

hr {
    height: 1px;
    border: none;
    border-bottom: 1px solid $color-gray-light;
}


.assembly-profile {
    display: flex;
    width: 100%;
}
.assembly-main {}
.assembly-side {
    width: 300px;
}
