<link rel="import" href="../../vendor/polymer/polymer.html" />
<link rel="import" href="../../vendor/iron-ajax/iron-ajax.html" />

<link rel="import" href="../althingi-congressman/althingi-congressman-badge.html" />

<!--
    ALTHINGI-ISSUE-FOOTER
    Footer will provide more details about an issue.

    This element will fetch additional information
    via XHR, so in a way, this can be a standalone
    element.

    @attribute issue Number ID of issue
    @attribute assembly Number ID of assembly
-->
<dom-module id="althingi-issue-footer">
    <template>
        <iron-ajax
                auto
                on-response="handleResponse"
                handle-as="json"
                url="{{url}}">
        </iron-ajax>
        <article class="article-card">
            <header class="article-card__header">
                <h1 class="article-card__headline">{{data.type_name}}</h1>
                <h2 class="article-card__headline">{{data.type_subname}}</h2>

            </header>
            <aside class="article-card__aside">
                <dl>
                    <dt>Raedutimi</dt>
                    <dd><time>{{data.time}}</time></dd>
                    <dt>Stada</dt>
                    <dd>{{data.status}}</dd>
                </dl>
            </aside>
            <div class="article-card__body">
                <template is="dom-if" if="{{data.foreman}}">
                    Fluttingsmadur:
                    <althingi-congressman-badge
                            name="{{data.foreman.name}}"
                            congressman="{{data.foreman.congressman_id}}">
                    </althingi-congressman-badge>
                </template>
            </div>
            <footer class="article-card__footer"></footer>
        </article>
    </template>
    <script>
        Polymer({

            is: 'althingi-issue-footer',

            properties: {
                issue: {
                    type: Number,
                    reflectToAttribute: true
                },
                assembly: {
                    type: Number,
                    reflectToAttribute: true
                },
                url: {
                    type: String,
                    computed: 'computeUrl(issue, assembly)'
                },
                data: {
                    type: Object,
                    value: function () {
                        return {};
                    }
                }
            },

            handleResponse: function (event) {
                this.data = event.detail.response;
            },

            computeUrl: function (issue, assembly) {
                return '/api/loggjafarthing/'+assembly+'/thingmal/'+issue;
            }
        });
    </script>
</dom-module>
