<link rel="import" href="../../vendor/polymer/polymer.html" />
<link rel="import" href="../../vendor/paper-item/paper-item.html" />
<link rel="import" href="../../vendor/paper-item/paper-item-body.html" />
<link rel="import" href="../../vendor/paper-icon-button/paper-icon-button.html" />
<link rel="import" href="../../vendor/iron-icons/communication-icons.html" />

<!--
    ALTHINGI-ISSUE-BADGE
    This is a simple badge or card for an issue.
    This provides just a overview of an issue, with
    some buttons to instruct a parent element to
    fetch specific sub-set.

    This element will not fetch any data via XHR,
    therefor you have to provide it.

    This element has button that fires even to
    ask for the full issue.

    @attribute status String Status of issue
    @attribute type String Type of issue
    @attribute issue Number ID of issue
    @attribute assembly Number ID of assembly
    @attribute name String Name

    @event speeches-get CustomEvent
-->
<dom-module id="althingi-issue-badge">
    <link rel="import" type="css" href="althingi-issue-badge.css">
    <template>
        <paper-item>
            <paper-item-body>
                <div><span>{{issue}}</span>. <span>{{name}}</span></div>
                <div secondary>
                    <span class="badge__label">{{type}}</span> |
                    <span class="badge__label">{{status}}</span>
                </div>
            </paper-item-body>
            <paper-icon-button
                    icon="icons:info"
                    on-click="handleGetInfo">
            </paper-icon-button>
            <paper-icon-button
                    icon="communication:comment"
                    on-click="handleGetSpeeches">
            </paper-icon-button>

            <!--paper-button on-click="clickPlenariesGet" raised>Þingfundir</paper-button-->

        </paper-item>
        <footer id="badgeFooter" class="badge__footer" style="display: none"></footer>
    </template>
    <script>
        Polymer({

            is: 'althingi-issue-badge',

            properties: {
                status: {
                    type: String,
                    reflectToAttribute: true
                },
                type: {
                    type: String,
                    reflectToAttribute: true
                },
                issue: {
                    type: Number,
                    reflectToAttribute: true
                },
                assembly: {
                    type: Number,
                    reflectToAttribute: true
                },
                expanded: {
                    type: Boolean,
                    value: false
                },
                open: {
                    type: Boolean,
                    value: false
                }
            },

            handleGetInfo: function (event) {
                this.$.badgeFooter.style.display = (this.open) ? 'none':'block';
                this.open = !this.open;
                if (!this.expanded) {
                    var issueInfoElement = document.createElement('althingi-issue-footer');
                    issueInfoElement.setAttribute('issue', this.issue);
                    issueInfoElement.setAttribute('assembly', this.assembly);
                    this.$.badgeFooter.appendChild(issueInfoElement);
                }
                this.expanded = true;
            },

            handleGetSpeeches: function (event) {
                this.fire('speeches-get', {assembly: this.assembly, issue: this.issue});
            }
        })
    </script>
</dom-module>
