<link rel="import" href="../../vendor/polymer/polymer.html" />
<link rel="import" href="../../vendor/paper-button/paper-button.html" />
<link rel="import" href="../../vendor/paper-spinner/paper-spinner.html" />

<!--
    ALTHINGI-PRELOADER
    Element what wraps around a pagination and offers a 'currently loading'
    state and a 'more' button.
-->
<dom-module id="althingi-preloader">
    <link rel="import" type="css" href="althingi-preloader.css">
    <template>
        <div id="preloadContainer">
            <content></content>
            <paper-button id="moreButton" on-click="requestMore">
                Meira
                <paper-spinner id="paperSpinner" active></paper-spinner>
            </paper-button>
        </div>
    </template>
    <script>
        Polymer({
            is: 'althingi-preloader',

            /**
             * Fired when a thw 'more' button is pressed.
             *
             * @event request-next
             * @param void
             */

            properties: {

                /**
                 * State of the element
                 * load | halt | done
                 */
                state: {
                    type: String,
                    observer: '_stateChanged'
                }
            },

            _stateChanged: function () {
                switch (this.state) {
                    case 'load':
                        this.$.paperSpinner.setAttribute('active', 'active');
                        this.$.preloadContainer.classList.add('preload-container--active');
                        break;
                    case 'halt':
                        this.$.paperSpinner.removeAttribute('active');
                        this.$.preloadContainer.classList.remove('preload-container--active');
                        break;
                    case 'done':
                        this.$.paperSpinner.removeAttribute('active');
                        this.$.preloadContainer.classList.remove('preload-container--active');
                        this.$.moreButton.style.display = 'none';
                        break;
                }
            },

            requestMore: function () {
                this.fire('request-next');
            },

            reset: function () {
                this.state = 'halt';
                this.$.moreButton.style.display = 'inline-block';
            }
        });
    </script>
</dom-module>
